<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="UEM-Symbol.png" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,700;1,300&display=swap"
    rel="stylesheet" />
  <title>Student Profile </title>

  <link rel="stylesheet" href="Student_Dash.css">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
    }

    body {
      /* display: flex; */
      /* justify-content: center; */
      /* align-items: center; */
      min-height: 100vh;
      /* background: url('Bg.jpg') no-repeat; */
      background-size: cover;
      background-position: center;
      background-image: linear-gradient(190deg, rgba(0, 0, 99, 0.05) 10%, rgba(0, 0, 255, 0.19) 100%);
    }

    /* header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;

}

.logo {
   font-size: 2em;
   color: rgb(215, 213, 203);
   user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnLogin-popup {
    width: 120px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnLogin-popup:hover {
    background: #fff;
    color: #162938;
}

.navigation .btnSignup-popup {
    width: 120px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnSignup-popup:hover {
    background: #fff;
    color: #162938;
} */

    .wrapper {
      position: relative;
      width: 600px;
      height: 440px;
      background: transparent;
      border: 2px solid rgba(255, 255, 255, .5);
      border-radius: 20px;
      backdrop-filter: blur(20px);
      box-shadow: 0 0 30px rgba(0, 0, 0, .5);
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      left: 28rem;
      top: 6rem;
    }


    .wrapper .form-box {
      width: 100%;
      padding: 40px;
    }


    .form-box h2 {
      font-size: 2em;
      color: #1012e0;
      text-align: center;
      margin: 30px 0;
      font-weight: 700;
    }

    .title {
      position: relative;
      width: 100%;
      height: 50px;
      border-bottom: 2px solid #162938;
      margin: 30px 0;
    }

    .title label {
      position: absolute;
      top: 50%;
      left: 5px;
      transform: translateY(-50%);
      font-size: 1.5em;
      color: #e36414;
      font-weight: 700;
      pointer-events: none;
      transition: .5s;
    }

    .title input:focus~label,
    .title input:valid~label {
      top: -5px;
    }

    .title input {
      width: 100%;
      height: 100%;
      background: transparent;
      border: none;
      outline: none;
      font-size: 1em;
      color: rgb(242, 242, 56);
      font-weight: 600;
      padding: 0 35px 0 5px;
    }

    .title .icon {
      position: absolute;
      right: 8px;
      font-size: 1.2em;
      color: rgb(249, 249, 40);
      line-height: 57px;
    }

    .title {
      font-size: 1rem;
      color: rgb(240, 240, 54);
      font-weight: 500;
      margin: -15px 0 15px;
      display: flex;
      justify-content: space-between;
    }

    .title label input {
      accent-color: rgb(228, 228, 78);
      margin-right: 3px;
    }

    .title a {
      color: rgb(235, 235, 43);
      text-decoration: none;
    }

    .title a:hover {
      text-decoration: underline;
    }


    .logo img {
      height: 4rem;
      width: 6rem;
      border-radius: 10px;
      margin-top: 10px;
      margin-right: 100px;
    }

    .close-btn {
      cursor: pointer;
    }

    .form-box h2 {
      position: relative;
      bottom: 72px;
      color: #1012e0;
      font-size: 3rem;
      font-weight: 700;

    }

    label b {
      color: black;
    }


    .nav {
      display: flex;
      width: 100%;

      justify-content: space-around;
      align-items: center;
      /* padding-top: 1.5rem; */
      /* z-index: 1000; */
      background-color: #fff;
      transition: top 0.3s ease;

      height: 100px;
      border: 2px solid rgb(176, 173, 173);
      background-color: #cce3de;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .logo-container {
      display: flex;
      align-items: center;
      position: relative;
      right: 3rem;
    }

    .logo {
      height: 5rem;
      width: 8rem;
    }

    .nav-items {
      display: flex;
      gap: 3.1rem;
      padding: 0 4em;
      position: relative;
      left: 5rem;
      /* top: 1rem; */
    }

    .nav-items div a {
      color: black;
      font-size: 18px;
      font-weight: 900;
      cursor: pointer;
      text-decoration: none;
    }

    .contact {
      /* background: rgba(255, 238, 183, 0.724); */
      /* padding: 1rem 2rem 1rem 2rem; */
      border-radius: 1.2rem;
    }

    .nav-items a::after {
      content: "";
      display: block;
      margin: auto;
      height: 3px;
      width: 0;
      top: 5px;
      background: transparent;
      transition: all 0.3s;
    }

    .nav-items a:hover::after {
      width: 100%;
      background: black;
    }

    .sticky {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1000;
      /* background-color: #fff; */
    }

    .iconf:hover .menu {
      display: block;
    }

    .iconf {
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      cursor: pointer;
    }

    .iconf i {
      color: #000;
    }

    .menu {
      display: none;
      position: absolute;
      background-color: #fff;
      min-width: 120px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
    }

    .iconf:hover .menu {
      display: block;
    }

    .menu p {
      margin: 0;
      /* Remove default margin */
      padding: 12px 16px;
      text-decoration: none;
      color: #000;
      display: block;
      text-align: center;
    }

    .menu p:hover {
      background-color: #f1f1f1;
    }
  </style>
</head>

<body>





  <!-- Nav -->
  <div class="nav">
    <div class="logo-container">
      <img src="/Image/UEM-Symbol.png" class="logo" />
    </div>

    <div class="nav-items">
      <div><a href="http://localhost:5000/home">Home</a></div>
      <div><a href="http://localhost:5000/about">About</a></div>
      <!-- <div><a href="#rooms">Rooms</a></div> -->
      <div><a href="http://localhost:5000/contact" class="contact">Contact</a></div>
      <% if(!initialState.data.room.isBooked) {%>
        <div><a href="http://localhost:5000/bookroom">Rooms</a></div>
        <% }else{ %>
          <div><a href="http://localhost:5000/usercomplain/<%= initialState.data.E_no %>">Complain</a></div>
          <div><a href="http://localhost:5000/unbooked/<%= initialState.data.E_no %>">UnBooked</a></div>
          <% } %>
            <div class="iconf">
              <i class="fas fa-user"></i>
              <div class="menu">
                <!-- <p><a href="#login">Profile</a></p> -->
                <p><a href="http://localhost:5000/logout">Logout</a></p>
              </div>
            </div>
    </div>
  </div>




  <!-- Deatils -->

  <div class="wrapper">


    <div class="form-box login">
      <h2>Student Info</h2>
      <form action="#">
        <div class="title">
          <span class="icon"></span>

          <label> <b> Name</b> : <%= initialState.data.name %> </label>
          <br>

        </div>
        <div class="title">
          <span class="icon"></span>
          <label><b>ID</b> : <%= initialState.data.E_no %></label>
          <br>

        </div>

        <div class="title">
          <label><b>Email</b> : <%= initialState.data.email %> </label>


        </div>
        <div class="title">
          <label><b>PH</b> : <%= initialState.data.ph_no %> </label>


        </div>
        <% if(initialState.data.room.isBooked==true){ %>
          <div class="title">
            <label><b>Room Id</b> : <%= initialState.data.room.roomId %> </label>


          </div>
          <% } else { %>
            <% } %>



      </form>

    </div>


  </div>



  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <script>
    // window.location.href = "/home";
  </script>
</body>

</html>